* {
	box-sizing: border-box;
}

body {
	background: none repeat scroll 0% 0% #ffffff;
	color: #3372ad;
	font-family: Meiryo, sans-serif;
	font-size: 18px;
	margin: 100px 0px 0px 0px;
}

#container {
	width: 600px;
	margin: 0px auto;
}

#test_button_div {
	border: 2px solid #3372ad;
	border-radius: 5px;
	padding: 50px 20px;
}

.code_block {
	margin: 50px 0px 0px;
}

.html_code {
	font-size: 12px;
	border: 1px solid #3372ad;
	display: block;
	margin: 5px;
	padding: 0 10px;
	overflow: auto;
}

#description_table {
	font-size: 16px;
	border-collapse: collapse;
	width: 100%;
	margin-top: 50px;
}
#description_table thead {
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	font-weight: bold;
}
#description_table tr {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#description_table td {
	padding: 10px;
	vertical-align: middle;
}
#description_table tbody td {
	background-color: rgba(0, 0, 0, 0.01);
	font-size: 14px;
}
#description_table tbody tr:nth-child(2n) {
	background-color: rgba(0, 0, 0, 0.01);
}

#footer {
	margin: 50px 50px 0px;
	padding: 10px 10px 0px 10px;
	border-top: 1px double #3372ad;
}
